/** Baseline iframe styles, mimicking Bartik and other base styles. **/
body {
    line-height: 1.5;
    font-size: 87.5%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

label,
input,
textarea,
select {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    color: inherit;
    margin: 2px 0;
    padding: 4px;
    font-size: 0.929em;
}

label {
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
}
label[for="expYear"] {
    display: inline-block;
}
label[for="expYear"]:after {
    display: block;
    content: '/';
}
label[for="expMonth"] {
    padding-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nameBlock input {
    width: 350px;
    max-width: 100%;
}

#ccTypeBlock, #expDateBlock, #cvcBlock {
    display: inline-block;
    margin-right: 5px;
}
#ccNumberBlock {
    display: block;
}
#ccNumberBlock input {
    width: 350px;
    max-width: 100%;
}

#completeButtonUL {
    margin-top: 10px;
}

.completeButton {
    background: #fff url(/themes/bartik/images/buttons.png) 0 0 repeat-x;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0.6em; /* LTR */
    padding: 4px 17px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.completeButton:hover {
    background: #dedede;
}
